* {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fafafa;
}

.logo-header-text {
  font-size: 32px;
  line-height: 40px;
  color: #495371;
  font-weight: bold;
  margin: 0px 0px 0px 16px;
}

.logo-description-text {
  color: #495371;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.logo-description {
  margin: 32px 0px 0px 0px;
  /* border: 1px solid black; */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.calc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px;
  background: #98b4aa;
  border-radius: 24px;
  /* position: static; */
  width: 320px;
  height: 480px;
  /* left: 424px; */
  /* top: 0px; */
  /* border: 1px solid black; */
}

.calc-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 12px;
  border: 3px solid #495371;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #495371;
  text-align: end;
  width: 320px;
  margin: 16px auto;
  /* -moz-appearance: textfield; */
}

.calc-nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.calc-input:focus {
  outline: none;
}

.calc-input::-webkit-outer-spin-button,
.calc-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* opacity: 0; */
}

.primary-button-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: #f1e0ac;
  border-radius: 8px;
  width: 320px;
  height: 56px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #495371;
  /* margin: 0px 16px; */
}

.primary-button-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 56px;
  height: 56px;
  background: #f1e0ac;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #495371;
  margin: 0px 32px 0px 0px;
}

.calc-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  background-color: transparent;
  margin: 16px 0px;
}

.secondary-button-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 2px solid #495371;
  box-sizing: border-box;
  border-radius: 8px;
  width: 56px;
  height: 56px;
  background-color: transparent;
}

img {
  background-color: transparent;
}

.equal {
  background-color: #495371;
}

.primary-button-large:hover,
.primary-button-small:hover {
  background: #ffecb2;
}

.equal:hover {
  background: #66708c;
}

.secondary-button-small:hover {
  border: 2px solid #ffecb2;
}
